:root {
  --clr-accent-400: #d0004c;
  --clr-accent-200: #ffb5d0;
  --clr-black: #000000;

  --crl-primary-400: #00d084;

  --clr-neutral-100: #003421;
  --clr-neutral--900: #001a11;

  --font-family-primary: 'Roboto Mono', monospace;
  --font-family-secondary: 'IBM Plex Sans', sans-serif;

  --font-body: var(--font-family-primary);
  --font-heading: var(--font-family-primary);
  --font-heading-secondary: var(--font-family-secondary);

  --font-weight-regular: 400;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 800;

  --font-size-300: 0.875rem;
  --font-size-400: 1rem;
  --font-size-500: 1.063rem;
  --font-size-600: 1.75rem;

  --font-size-body: var(--font-size-400);
  --font-size-nav: var(--font-size-300);
  --font-size-heading-primary: var(--font-size-600);
  --font-size-heading-secondary: var(--font-size-300);
  --font-size-button: var(--font-size-300);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility Classes */
.text-primary-400 {
  color: var(--crl-primary-400);
}

.text-accent-400 {
  color: var(--clr-accent-400);
}

.text-accent-200 {
  color: var(--clr-accent-200);
}

.text-neutral-100 {
  color: var(--clr-neutral-100);
}

.text-neutral-900 {
  color: var(--clr-neutral--900);
}

.fw-bold {
  font-weight: var(--font-weight-bold);
}

.fw-semi-bold {
  font-weight: var(--font-weight-semi-bold);
}

.fw-regular {
  font-weight: var(--font-weight-regular);
}

.fs-heading-primary {
  font-size: var(--font-size-heading-primary);
}

.fs-heading-secondary {
  font-size: var(--font-size-heading-secondary);
}

.bg-primary-400 {
  background-color: var(--crl-primary-400);
}

.bg-accent-400 {
  background-color: var(--clr-accent-400);
}

.bg-accent-200 {
  background-color: var(--clr-accent-200);
}

.bg-neutral-100 {
  background-color: var(--clr-neutral-100);
}

.bg-neutral-900 {
  background-color: var(--clr-neutral--900);
}

.custom-container {
  width: 90%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.list-style {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--clr-black);
}

.author-name {
  color: #333;
  font-size: 1rem;
  font-weight: 700;
}
.category-title{
  color: #14c435 !important;
  font-size: 1.1rem;
}
.section-label{
  font-size: 1.2rem;
  text-transform: capitalize;
  color: #333;
  font-weight: bolder;
  margin-bottom: 1em;
}

/* MAIN NAVIGATION BAR */
nav {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-300);
  padding: 1em;
  font-weight: var(--font-weight-regular);

  font-size: 1.2rem;
  font-family: 'Roboto Mono', monospace;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  position: fixed;

  z-index: 99;
  min-width: 100%;
}


.main-navigation-bar {
  justify-content: space-between;
  align-items: center;
  background-color: #fcfcfc;
  width: 100%;
  border-bottom: 1px solid rgb(182, 181, 181);


}

.nav--left-side .logo {
  margin-right: 2em;
}

.nav--quick-links>ul li,
.navigation--actions-wrapper>ul li {
  margin-left: 2em;
}

.nav--quick-links>ul li a:hover {
  color: var(--crl-primary-400);
}

.main {
  margin-top: 7em;
}

/* SHOWCASE AREA / FEATURED BLOG SECTION */
.showcase-area {
  padding: 2em 0;
  min-height: 100vh;
}

.showcase-area img {
  width: 800px;
  height: 480px;
}


.featured-blog-title {
  font-size: var(--font-size-600);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-primary);

  font-family: 'IBM Plex Sans', sans-serif;
  max-width: 85%;
  font-weight: bolder;
  font-size: 2.8rem;
  line-height: 0.88;
  color: #000000;
}

.featured-card-title {
  font-family: 'IBM Plex Sans', sans-serif;
  max-width: 85%;
  font-weight: bolder;
  font-size: 1.4rem;
  line-height: 0.88;
  color: #000000;
}

.card-post-title {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bolder;
  font-size: 1.6rem;
  line-height: 0.88;
  color: #000000;
}

.showcase-area a:hover {
  opacity: 0.8;
  cursor: pointer;
}



/*
  Latest Posts
*/
.section-latest-posts {
  padding: 1em 0;
}

/*
  Features
*/
.section-farm-to-table {
  min-height: 70vh;
  padding: 2em 0;
}

.card-custom {
  border: none;
  border-radius: 0;
  padding: 0;
}

.row-custom {
  overflow-x: auto !important;
}




/*
SECTION-LATEST POSTS
*/
.section-latest-posts .post-article:hover{
  opacity: 0.8;
  cursor: pointer;
}
.post-article h3{
  color: #000000;
}
.post-article p{
  color: #808080;
  font-size: 1.15rem;
}

/*
SECTION-TECH
*/
.section-tech {
  padding: 3em 0;
}

.footer {
  width: 100%;
  background-color: #dbeefa;
  padding: 5em 0;
}




@media screen and (max-width: 414px) {
  .main-navigation-bar {
    display: none;
  }
  .featured-blog-title{
    font-size: 1.8rem;
  }
 .showcase-area img{
  height: 250px;
 }
}