:root {
  --font-family-primary: 'Poppins', sans-serif;
  --clr-primary: #00d301;
}

/* Basic resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: #e5e5e5;
  font-family: var(--font-family-primary);
}

/* Utilities */
.container {
  width: 90%;
  margin: 0 auto;
}

.icon {
  height: 24px;
  width: 24px;
}

.post-category {
  font-weight: 600;
  font-size: 1rem;
  margin: 1em 0 0 0;
  color: var(--clr-primary);
}

/* Header section */
.toolbar {
  background-color: #fff;
}

.toolbar ul {
  display: flex;
  justify-content: space-between;
  padding: 1.5em 0;
}

.toolbar ul a {
  text-decoration: none;
}

.socials ul a {
  text-decoration: none;
}

.toolbar > ul:first-child a {
  text-transform: capitalize;
  font-family: var(--font-family-primary);
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: var(--clr-primary);
}

/* Hero section */
.hero-section {
  padding: 2em 0;
}

.featured-post-title {
  padding: 0.5em 0;
  font-size: 1.7rem;
  line-height: 1.01;
  font-weight: 800;
  font-family: var(--font-family-primary);
  letter-spacing: -.05em;
}

.featured-post-info p {
  font-weight: 500;
  color: #333;
}